.body{
	font-family: "lora-regular", serif;

}

.nav {
	position: absolute;
	top: 15px;
	z-index: 99;
	left: 0;
	right: 0;
}
.uk-sticky-placeholder {
	height: 0 !important;
}
.top-wrap::before, .overlay-wrap::before {
	position: absolute;
	top:0;
	right:0;
	left: 0;
	bottom: 0;
	content: '';
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
}
.top-wrap-height {
	height: 80vh;
	min-height: 460px;
	transition: height 0.25s;
}
.uk-subnav-pill > * > :first-child {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.04);
}
.top-container {
	z-index: 2;
}
.uk-logo img {
	height: 38px;
}
.subtitle-text {
	font-size: 1.2em;
	opacity: 0.7;
	font-weight: 300;
}
.logos-grid img {
	display: block;
	width: 60px;
	margin: 0 auto;
	filter:  grayscale(100%);
	transition: filter 0.25s;
}
.logos-grid img:hover {
	display: block;
	width: 60px;
	margin: 0 auto;
	filter:  grayscale(0);
}



.uk-background-secondary {
    background-color: rgb(9 19 81) !important;
}


.uk-section-secondary {
    background: rgb(34 34 34)  !important;
}

#content{
	background: rgb(34 34 34)  !important;

}

#content h2{
	color: #ffffff;
}


#content .subtitle-text {
    color: #ffffff !important;
}

section[name="top_section"]{
	padding-top: 30px !important;

}



.uk-background-secondary {
    background-color: rgb(34 34 34) !important;
}
#offcanvas-nav{
	background-color:rgb(34 34 34)  !important;
}

.uk-nav-header{
	background-color:rgb(34 34 34)  !important;
}
.top-wrap::before, .overlay-wrap::before {
    background-color: rgb(98 84 84 / 50%)  !important;
}

h1, h2, h3, h4, h5, h6, .h01, .h02, .h03, .h04, .h05, .h06 {
	font-family: "poppins-semibold", sans-serif;
	font-style: normal;
	text-rendering: optimizeLegibility;
}

h5, .h05, h6, .h06 {
	font-family: "poppins-bold";
}


p.lead {
	font-family: "lora-regular", serif;
}

em, i {
	font-family: "lora-italic", serif;
}
strong, b {
	font-family: "lora-bold", serif;
}

.uk-margin-remove-top.uk-scrollspy-inview.uk-animation-slide-right-medium h1{
	font-family: 'Poppins', sans-serif;
}

.subtitle-text{
	color: #000000;
	font-weight:390;
	font-family: 'Poppins', sans-serif;


}

#white-text{
	color: #ffffff;
}

a[name="button_section"]{
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 1.3rem;
	letter-spacing: .2rem;
	border-radius: 4px;
	overflow: hidden;
	background-color: rgb(157 20 20) !important;
	padding: 15px 20px !important;
	margin: 1rem 0;
	color: #fff;
}

.button-click-aqui {
  background-color: #b62222;
	color: #ffffff;
	padding: .5rem 1rem;
	border-radius: 4px;
}
 
.button-click-aqui:hover {
	background-color: #b62222;
	color: #ffffff;
}