{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@latest/dist/css/uikit.min.css">
	<link href="{% static "css/dashboard.css" %}" rel="stylesheet">
  <link href="{% static "css/cards.css" %}" rel="stylesheet">
	<script>
		function activar_organizaciones(){
			let div1 = document.getElementById("filtros_candidatos")
			div1.style.display ="none"
			let div2 = document.getElementById("filtros_organizaciones")
			div2.style.display ="block"
			let tabla_organizaciones = document.getElementById("tabla_organizaciones")
			let tabla_candidatos = document.getElementById("tabla_candidatos")
			let opc_candidatos = document.getElementById("opciones_candidatos")
			opc_candidatos.style.display = "none"


			tabla_organizaciones.style.display="block"
			tabla_candidatos.style.display="none"
		}
	</script>
	<script>
		function activar_candidatos(){
			let div3 = document.getElementById("filtros_organizaciones")
			div3.style.display ="none"	
			let div4 = document.getElementById("filtros_candidatos")
			div4.style.display ="block"
			let tabla_organizaciones = document.getElementById("tabla_organizaciones")
			let tabla_candidatos = document.getElementById("tabla_candidatos")


			let opc_candidatos = document.getElementById("opciones_candidatos")
			opc_candidatos.style.display = "block"



			tabla_organizaciones.style.display="none"
			tabla_candidatos.style.display="block"
			


		}
	</script>

</head>
{% block content %}
{% endblock %}
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.6/qs.min.js" integrity="sha512-3TmPrquYLaAsUmZKXRARTDC5siWhLAdBVqNo4dWpDABBtLU62AaoTaQJEvjxjExcZYurO6i1dnK85k8pPIBlRg==" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
	<script src="{% static "js/filter.js"%}"></script>
	<script src="{% static "js/display_filter.js"%}"></script>
	<script src="{% static "js/filter_orga.js"%}"></script>
	<script src="{% static "js/serv.js"%}"></script>
	<!--<script>
		setTimeout(function(){
			UIkit.notification('Ola Esteban owo"');
			UIkit.notification('Ola Grace uwu. Si has hecho pull quiero que sepas que espero estes pasandola bien en tu viaje uwu"');
		}, 1000);
	</script>-->
</body>
</html>