{% extends "elecciones/base.html" %}
{% block title %}Elecciones{% endblock %}
{% block content %}
<body data-uk-filter="target: .js-filter">
  <!--HEADER-->
  <header id="top-head" class="uk-position-fixed">
    <div class="uk-container uk-container-expand uk-background-secondary">
      <nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
        <div class="uk-navbar-left">
          <!-- <div class="uk-navbar-item uk-hidden@m">
            <a class="uk-logo" href="#"><img class="custom-logo" src="img/dashboard-logo-white.svg" alt=""></a>
          </div> -->
          <ul class="uk-navbar-nav uk-visible@m">
            <li><a href="#">Candidatos Presidenciales</a></li>
            <li>
              <a href="#">Candidatos Congresales</a>
            </li>
            <li>
              <a href="#">Candidatos Parlamento Andino</a>
            </li>
          </ul>
          <!-- <div class="uk-navbar-item uk-visible@s">
            <form id="search-form" action="">
              <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon uk-form-icon-flip" data-uk-icon="icon: search"></span>
                <input class="uk-input uk-width-1-1 search-fld" type="text" placeholder="Type your search" autofocus>
                <a href="#" class="search-filter" data-uk-filter-control="[data-tags*='']" hidden>Search</a>
              </div>
            </form>
          </div> -->
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav">
            <li><a href="#" data-uk-icon="icon:user" title="Your profile" data-uk-tooltip></a></li>
            <li><a href="#" data-uk-icon="icon: settings" title="Settings" data-uk-tooltip></a></li>
            <li><a href="#" data-uk-icon="icon:  sign-out" title="Sign Out" data-uk-tooltip></a></li>
            <li><a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav" title="Offcanvas" data-uk-tooltip></a></li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!--/HEADER-->
  <!-- LEFT BAR -->
  <aside id="left-col" class="uk-light uk-visible@m">
    <!-- <div class="left-logo uk-flex uk-flex-middle">
      <img class="custom-logo" src="img/dashboard-logo.svg" alt="">
    </div> -->

    <!-- <div class="left-content-box content-box-dark">
    </div> -->
    
    <div class="left-nav-wrap">
      <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
        <li class="uk-nav-header">Filtros</li>
        <li class="uk-parent"><a href="#"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right"></span>Nivel Académico</a>
          <ul>
            <button  onclick="quitar_seleccion_academico()">Decartar</button>

            <form>
              <fieldset class="uk-fieldset uk-padding-small">
                <div class="uk-width-1-1@s">
                  <select class="uk-select" id="nivel_academico" onchange="get_nivel_academico()">
                  <option value="default">Elegir Nivel Academico</option>
                    <option value="concluyo_primaria">Concluyó primaria</option>
                    <option value="concluyo_secundaria">Concluyó secundaria</option>
                    <option value="concluyo_estudio_tecnico">Concluyó técnico</option>
                    <option value="concluyo_estudio_no_universitario">Concluyó no universitarios</option>
                    <option value="concluyo_estudio_universitario">Concluyó universidad</option>
                    <option value="concluyo_estudio_postgrado">Concluyó postgrado</option>
                    <option value="maestro_doctor">Maestro o Doctor</option>
                  </optgroup>
                  </select>
                </div>
              </fieldset>
            </form>
          </ul>
        </li>
        <li class="uk-parent"><a href="#"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right"></span>Cargos previos</a>
          <ul>
            <button onclick="quitar_seleccion_cargos_pervios()">Decartar</button>
            <form>
              <fieldset class="uk-fieldset uk-padding-small">
                <div class="uk-width-1-1@s">
                  <div class="uk-flex uk-flex-column">
                    <label class="uk-text-muted">
                      Cargos de elección popular
                    </label>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="anhio_servicio_asc" name="anhio_servicio" onclick="get_cargos_previos()" value="ASC">
                      <label for="anhio_servicio_asc" class="uk-text-muted uk-margin-small-left">
                        Ascendente
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="anhio_servicio_desc" name="anhio_servicio" onclick="get_cargos_previos()" value="DESC">
                      <label for="anhio_servicio_desc" class="uk-text-muted uk-margin-small-left">
                        Descendente
                      </label>
                    </div>
                  </div>
                  <button class="uk-button uk-button-link uk-text-capitalize" style="text-decoration: none; margin-bottom: 10px;">
                    Ver Experiencia Laboral
                  </button>
                </div>
              </fieldset>
            </form>
          </ul>
        </li>
        <li class="uk-parent"><a href="#"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right"></span>Sentencias</a>
          <ul>
            <button  onclick="quitar_seleccion_sentencias()">Decartar</button>

            <form>
              <fieldset class="uk-fieldset uk-padding-small">
                <div id="mostrar_sentencias" style="">
                <div class="uk-width-1-1@s uk-flex uk-flex-column">
                  <div>
                    <label><input type="checkbox" id="penal_cbx" value="penal_val" onchange="togglePenal_opciones(this)">Penal</label><br>
                  </div>
                    <div id = "div_opc_cant_sentencias"  style="display: none">

                    <label class="uk-text-muted">
                      Cantidad de Sentencias
                    </label>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="cant_senten_asc" name="cant_senten" value="ASC" onclick="get_sentencias_penal_cant()">
                      <label for="cant_senten_asc" class="uk-text-muted uk-margin-small-left">
                        Ascendente
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="cant_senten_desc" name="cant_senten" value="DESC" onclick="get_sentencias_penal_cant()">
                      <label for="cant_senten_desc" class="uk-text-muted uk-margin-small-left">
                        Descendente
                      </label>
                    </div>
                  </div>
                  <div>
                    <label><input type="checkbox" id="por_obligaciones" value="por_obligaciones_val" onchange="toggleObligacion_opciones(this)">Por obligaciones</label><br>
                  </div>
                  <div id = "div_opc_obligaciones"  style="display: none">

                    <label class="uk-text-muted">
                      Cantidad de Sentencias
                    </label>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="cant_senten_asc_oblig" name="cant_senten_oblig" value="ASC" onclick="get_sentencias_oblig_cant()">
                      <label for="cant_senten_asc_oblig" class="uk-text-muted uk-margin-small-left">
                        Ascendente
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="cant_senten_desc_oblig" name="cant_senten_oblig" value="DESC" onclick="get_sentencias_oblig_cant()">
                      <label for="cant_senten_desc_oblig" class="uk-text-muted uk-margin-small-left">
                        Descendente
                      </label>
                    </div>

                    <label class="uk-text-muted">
                      Materia de la demanda
                    </label>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="mat_deman_fam_ali" name="opc_mat_demanda" value="Familia_Ali" onclick="get_sentencias_oblig_mat()">
                      <label for="mat_deman_fam_alimen" class="uk-text-muted uk-margin-small-left">
                        Familia/Alimentaria
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="mat_deman_contrac" name="opc_mat_demanda" value="Contractual" onclick="get_sentencias_oblig_mat()">
                      <label for="mat_deman_contract" class="uk-text-muted uk-margin-small-left">
                        Contractual
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="mat_deman_lab" name="opc_mat_demanda" value="Laboral" onclick="get_sentencias_oblig_mat()">
                      <label for="mat_deman_laboral" class="uk-text-muted uk-margin-small-left">
                        Laboral
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="mat_deman_vio" name="opc_mat_demanda" value="Violencia" onclick="get_sentencias_oblig_mat()">
                      <label for="mat_deman_violencia" class="uk-text-muted uk-margin-small-left">
                        Violencia Familiar
                      </label>
                    </div>
                  </div>
                </div>
                </div>
                  <div>
                    <label><input type="checkbox" id="no_tiene" value="no_tiene_val" onchange="noTiene_opcion(this)">No tiene</label><br>
                  </div>
               
              </fieldset>
            </form>
          </ul>
        </li>
        <li class="uk-parent"><a href="#"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right"></span>Bienes y Rentas</a>
          <ul>
            <button  onclick="quitar_seleccion_b_r()">Decartar</button>
            <form>
              <fieldset class="uk-fieldset uk-padding-small">
                <div class="uk-width-1-1@s">
                  <div class="uk-flex uk-flex-column">
                    <label class="uk-text-muted">
                      Cantidad de ingresos
                    </label>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="cant_ingreso_asc" name="cant_ingreso" onclick="get_bienes_rentas(this)" value="ASC">
                      <label for="cant_ingreso_asc" class="uk-text-muted uk-margin-small-left">
                        Ascendente
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="cant_ingreso_desc" name="cant_ingreso" onclick="get_bienes_rentas(this)" value="DESC">
                      <label for="cant_ingreso_desc" class="uk-text-muted uk-margin-small-left">
                        Descendente
                      </label>
                    </div>
                    <label class="uk-text-muted" style="margin-top: 10px">
                      Cantidad de inmuebles 
                    </label>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="cant_inmueble_asc" name="cant_inmuebles" onclick="get_bienes_rentas(this)" value="ASC">
                      <label for="cant_inmueble_asc" class="uk-text-muted uk-margin-small-left">
                        Ascendente
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="cant_inmueble_desc" name="cant_inmuebles"  onclick="get_bienes_rentas(this)" value="DESC">
                      <label for="cant_inmueble_desc" class="uk-text-muted uk-margin-small-left">
                        Descendente
                      </label>
                    </div>
                    <label class="uk-text-muted" style="margin-top: 10px">
                      Valor de inmuebles 
                    </label>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="valor_inmueble_asc" name="valor_inmuebles" onclick="get_bienes_rentas(this)" value="ASC">
                      <label for="valor_inmueble_asc" class="uk-text-muted uk-margin-small-left">
                        Ascendente
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="valor_inmueble_desc" name="valor_inmuebles" onclick="get_bienes_rentas(this)" value="DESC">
                      <label for="valor_inmueble_desc" class="uk-text-muted uk-margin-small-left">
                        Descendente
                      </label>
                    </div>
                    <label class="uk-text-muted" style="margin-top: 10px">
                      Cantidad de muebles 
                    </label>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="cant_mueble_asc" name="cant_muebles"  onclick="get_bienes_rentas(this)" value="ASC">
                      <label for="cant_muebles_asc" class="uk-text-muted uk-margin-small-left">
                        Ascendente
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      
                      <input type="radio" id="cant_mueble_desc" name="cant_muebles" onclick="get_bienes_rentas(this)" value="DESC">
                      <label for="cant_mueble_desc" class="uk-text-muted uk-margin-small-left">
                        Descendente
                      </label>
                    </div>
                    <label class="uk-text-muted" style="margin-top: 10px">
                      Valor de muebles 
                    </label>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="valor_mueble_asc" name="valor_muebles" onclick="get_bienes_rentas(this)" value="ASC">
                      <label for="valor_mueble_asc" class="uk-text-muted uk-margin-small-left">
                        Ascendente
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="valor_mueble_desc" name="valor_muebles" onclick="get_bienes_rentas(this)" value="DESC">
                      <label for="valor_mueble_desc" class="uk-text-muted uk-margin-small-left">
                        Descendente
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </ul>
        </li>
        <li class="uk-parent"><a href="#"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right"></span>Renuncias</a>
          <ul>
            <button  onclick="quitar_seleccion_renuncia()">Decartar</button>

            <form>
              <fieldset class="uk-fieldset uk-padding-small">
                <div class="uk-width-1-1@s">
                  <div class="uk-flex uk-flex-column">
                    <label class="uk-text-muted">
                      Organizaciones políticas a las que ha pertenecido.
                    </label>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="cantidad_renuncia_asc" name="cantidad_renuncia" onclick="get_renuncia()" value="ASC">
                      <label for="cantidad_renuncia_asc" class="uk-text-muted uk-margin-small-left">
                        Ascendente
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="cantidad_renuncia_desc" name="cantidad_renuncia" onclick="get_renuncia()" value="DESC">
                      <label for="cantidad_renuncia_desc" class="uk-text-muted uk-margin-small-left">
                        Descendente
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </ul>
        </li>
        <!--Solo para CONGRESO Y PARLAMENTO -->
        <!-- <li class="uk-parent"><a href="#"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right"></span>Genero</a>
          <ul>
            <form>
              <fieldset class="uk-fieldset uk-padding-small">
                <div class="uk-width-1-1@s">
                  <div class="uk-flex uk-flex-column">
                    <label class="uk-text-muted">
                      Género
                    </label>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="tipo_genero" name="opcion_genero" value="tipo_genero">
                      <label for="tipo_genero" class="uk-text-muted uk-margin-small-left">
                        Fememino
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="tipo_genero" name="opcion_genero" value="tipo_genero">
                      <label for="tipo_sentencia" class="uk-text-muted uk-margin-small-left">
                        Masculino
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </ul>
        </li> -->
        <li class="uk-parent"><a href="#"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right"></span>Edad</a>
          <ul>
            <button  onclick="quitar_seleccion_edad()">Decartar</button>

            <form>
              <fieldset class="uk-fieldset uk-padding-small">
                <div class="uk-width-1-1@s">
                  <div class="uk-flex uk-flex-column">
                    <label class="uk-text-muted">
                      Rango de edades
                    </label>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="rango_edad1" name="rango_edad" onclick="get_edad()" value="18-30">
                      <label for="rango_edad" class="uk-text-muted uk-margin-small-left">
                        18 - 30
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="rango_edad2" name="rango_edad"onclick="get_edad()"  value="30-50">
                      <label for="rango_edad" class="uk-text-muted uk-margin-small-left">
                        30 - 50
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="rango_edad3" name="rango_edad" onclick="get_edad()" value="50-70">
                      <label for="rango_edad" class="uk-text-muted uk-margin-small-left">
                        50 - 70
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </ul>
        </li>
        <li class="uk-parent"><a href="#"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right"></span>Oriundo</a>
          <ul>
            <button  onclick="quitar_seleccion_oriundo()">Decartar</button>
            <form>
              <fieldset class="uk-fieldset uk-padding-small">
                <div class="uk-width-1-1@s">
                  <div class="uk-flex uk-flex-column">
                    <label class="uk-text-muted">
                      Nació en Perú
                    </label>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="oriundo_si" name="oriundo_input" value="SI" onclick="get_oriundo()">
                      <label for="oriundo_" class="uk-text-muted uk-margin-small-left">
                        Sí
                      </label>
                    </div>
                    <div class="uk-flex uk-flex-middle">
                      <input type="radio" id="oriundo_" name="oriundo_input" value="NO"  onclick="get_oriundo()">
                      <label for="oriundo_" class="uk-text-muted uk-margin-small-left">
                        No
                      </label>
                    </div>
                    <div id="desplegable_oriundo" class="uk-flex uk-flex-column uk-padding-small uk-padding-remove-top" style="display: none" >
                      <label class="uk-text-muted">
                        Departamento de nacimiento
                      </label>
                      <select class="uk-select" id="desplegable_oriundo_" onchange="onchange_desple_oriundo()">
                        <option value="default">Elige el país</option>
                        <option value="lima">Lima</option>
                        <option value="cusco">Cusco</option>
                        <option value="arequipa">Arequipa</option>
                      </select>
                    </div>
                  </div>
                </div>
              </fieldset>
            </form>
          </ul>
        </li>
        <li class="uk-parent"><a href="#"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right"></span>Cargo al que Postula</a>
          <ul>
            <button  onclick="quitar_seleccion_postula()">Decartar</button>
            <form>
              <fieldset class="uk-fieldset uk-padding-small">
                <div class="uk-width-1-1@s uk-flex uk-flex-column">
                  <select class="uk-select" id="cargo_postula" onchange="get_cargo_postula()">
                  <option value="default">Elegir cargo</option>
                    <option value="PRIMER VICEPRESIDENTE DE LA REPÚBLICA">Primer Vicepresidente</option>
                    <option value="SEGUNDO VICEPRESIDENTE DE LA REPÚBLICA">Segundo Vicepresidente</option>
                    <option value="PRESIDENTE DE LA REPÚBLICA">Presidente de la República</option>
                  </select>
                </div>
              </fieldset>
            </form>
          </ul>
        </li>
        <li class="uk-parent"><a href="#"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right"></span>Organización Política</a>
          <ul>
            <button  onclick="quitar_seleccion_org_politica()">Decartar</button>

            <form>
              <fieldset class="uk-fieldset uk-padding-small">
                <div class="uk-width-1-1@s uk-flex uk-flex-column">
                  <select class="uk-select" id="select_org_politica" onchange="get_org_politica()">
                    <option value="default">Elegir Organización Política</option>
                    <option value="FUERZA_POPULAR">Fuerza Popular</option>
                    <option value="PARTIDO_MORADO">Partido Morado</option>
                    <option value="org_3">Org 3</option>
                  </select>
                </div>
              </fieldset>
            </form>
          </ul>
        </li>
        <li class="uk-parent"><a href="#"><span data-uk-icon="icon: thumbnails" class="uk-margin-small-right"></span>Distrito Electoral</a>
          <ul>
            <button  onclick="quitar_seleccion_distrito()">Decartar</button>
            <form>
              <fieldset class="uk-fieldset uk-padding-small">
                <div class="uk-width-1-1@s uk-flex uk-flex-column">
                  <select class="uk-select" id="dist_electo" onchange="get_distrito_electoral()">
                    <option value="default">Elegir Distrito Electoral</option>
                    <option value="AMAZONAS">Amazonas</option>
                    <option value="LAMBAYEQUE">Lambayeque</option>
                    <option value="ICA">Ica</option>
                  </select>
                </div>
              </fieldset>
            </form>
          </ul>
        </li>
      </ul>
      <button class="uk-button uk-button-secondary" onClick="button_filter()">Filtrar</button>
      <button class="uk-button uk-button-secondary" onClick="imprimir()">Imprimir</button>

    </div>
    
  </aside>
  <!-- /LEFT BAR -->
  <!-- CONTENT -->
  <div id="content" data-uk-height-viewport="expand: true">
    <div class="uk-container uk-container-expand">
      <label class="uk-text-muted">
        Agrupar por
      </label>
        <ul class="uk-subnav uk-subnav-pill uk-grid uk-grid-medium uk-child-width-1-1 uk-child-width-1-3@s uk-child-width-1-4@m uk-child-width-1-4@l uk-child-width-1-5@xl" data-uk-grid">
          <li class="uk-active" data-uk-filter-control><a href="#">Mostrar todo</a></li>
          <li data-uk-filter-control=".nature-card"><a href="#">Partidos</a></li>
          <li data-uk-filter-control=".music-card"><a href="#">Departamentos</a></li>
        </ul>
      <hr>
    </div>
    <table class="uk-table uk-table-divider">
      <thead>
        <tr>
          <th>Nombres</th>
          <th>DNI</th>
          <th>Partido</th>
        </tr>
      </thead>
      <tbody>
        <!-- todos los candidatos -->
        {% for candidato in candidatos %}
        <tr>
          <td>{{ candidato.candidato }}</td>
          <td>{{ candidato.dni_candidato }}</td>
        </tr>
        {% endfor %}
        <!-- candidato con un dni en específico -->
        {% for candidato in candidatos_by_dni %}
        <tr>
          <td>{{ candidato.candidato }}</td>
          <td>{{ candidato.dni_candidato }}</td>
        </tr>
        {% endfor %}
        <!-- candidato según su grado de estudio -->
        {% for estudio in estudios %}
        <tr>
          <td>{{ estudio.candidato }}</td>
          <td>{{ estudio. }}</td>
          <td>{{ estudio.organizacion_politica }}</td>
        </tr>
        {% endfor %}
      </tbody>
  </table>
  </div>
  <!-- /CONTENT -->
  <!-- OFFCANVAS -->
  <div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
      <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
      <ul class="uk-nav uk-nav-default">
        <li class="uk-active"><a href="#">Active</a></li>
        <li class="uk-parent">
          <a href="#">Parent</a>
          <ul class="uk-nav-sub"> 
            <li><a href="#">Sub item</a></li>
            <li><a href="#">Sub item</a></li>
          </ul>
        </li>
        <li class="uk-nav-header">Header</li>
        <li><a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span> Item</a></li>
        <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span> Item</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span> Item</a></li>
      </ul>
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
  <!-- /OFFCANVAS -->  
  <!-- OFFCANVAS -->
  <div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
      <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
      <ul class="uk-nav uk-nav-default">
        <li class="uk-active"><a href="#">Active</a></li>
        <li class="uk-parent">
          <a href="#">Parent</a>
          <ul class="uk-nav-sub">
            <li><a href="#">Sub item</a></li>
            <li><a href="#">Sub item</a></li>
          </ul>
        </li>
        <li class="uk-nav-header">Header</li>
        <li><a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span> Item</a></li>
        <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span> Item</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span> Item</a></li>
      </ul>
      <h3>Title</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
{% endblock %}