{% extends "elecciones/base.html" %}
{% block title %}Inteligencia Artificial{% endblock %}
{% load static %}
{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" />
  <link type='text/css' href="{% static "css/iaDisplay.css" %}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
<body>
  <!-- NAV -->
  <div class="nav" data-uk-sticky="cls-active: uk-background-secondary uk-box-shadow-large; top: 100vh; ">
      <nav class="uk-navbar uk-navbar-container" data-uk-navbar>
        <div class="uk-navbar-left">
          <div class="uk-navbar-item ">
            <a class="uk-logo" title="Logo" href="{% url 'elecciones:mainpage' %}"><img src="{% static "images/logos/ELEGIMOS_blanco.png" %}" alt="Logo"></a>
          </div>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav uk-visible@s">
            <!-- <li class="uk-active uk-visible@m"><a href="" data-uk-icon="home"></a></li> -->
            <li><a class="nav_options" href="{% url 'elecciones:analisisGraficos' %}">Análisis de datos</a></li>
            <li>
              <a class="nav_options" href="#" data-uk-icon="chevron-down">Búsqueda</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li>
                    <a style="font-size: 16px;" href="#" onclick="activar_candidatos(this.text)">Presidencial</a>
                  </li>
                  <li>
                    <a style="font-size: 16px;" href="#" onclick="activar_candidatos(this.text)">Congresales</a>
                  </li>
                  <li>
                    <a style="font-size: 16px;" href="#" onclick="activar_candidatos(this.text)">Parlamento Andino</a>
                  </li>
                  <li>
                    <a style="font-size: 16px;" href="#" onclick="activar_organizaciones(this.text)">Organización Política</a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <a class="uk-navbar-toggle uk-navbar-item uk-hidden@s" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a>
        </div>
      </nav>
  </div>
  <!-- /NAV -->
  <!-- CONTENT -->
  <div uk-filter="target: .js-filter">
    <form style="margin-top: 110px" method="GET">
    <div class="uk-container-small uk-margin-large-left">
      <p>Cargo: 
      <select  class="uk-select opt_select uk-margin-small-right"  type="text" name="cargo_postula">
        <option value="default" disabled selected>Elegir Cargo Al que Postula</option>
        <option value="presidenciales">Presidenciales</option>
        <option value="congresales">Congresales</option>
        <option value="parlamento">Parlamento Andino</option>
      </select >
      </p>
      <!--<p>
        Emoción: 
        <select  class="uk-select opt_select uk-margin-small-right"  type="text" name="emocion">
          <option value="default" disabled selected>Elegir Emoción</option>
          <option value="Molestia">Molestia</option>
          <option value="Alegría">Alegría</option>
          <option value="Seriedad">Seriedad</option>
          <option value="Tristeza">Tristeza</option>
          <option value="Disgusto">Disgusto</option>
          <option value="Miedo">Miedo</option>
          <option value="Sorpresa">Sorpresa</option>
        </select >
      </p>-->
      <p>Organización: 
        <select  class="uk-select opt_select uk-margin-small-right"  type="text" name="organizacion">
          <option value="default" disabled selected>Elegir Organización Política</option>
          <option value="ACCION POPULAR">Acción Popular</option>
          <option value="ALIANZA PARA EL PROGRESO">Alianza para el progreso</option>
          <option value="AVANZA PAIS - PARTIDO DE INTEGRACION SOCIAL">Avanza País</option>
          <option value="DEMOCRACIA DIRECTA">Democracia Directa</option>
          <option value="EL FRENTE AMPLIO POR JUSTICIA, VIDA Y LIBERTAD">Frente Amplio</option>
          <option value="FRENTE POPULAR AGRICOLA FIA DEL PERU - FREPAP">FREPAP</option>
          <option value="FUERZA POPULAR">Fuerza Popular</option>
          <option value="JUNTOS POR EL PERU">Juntos Por el Perú</option>
          <option value="PARTIDO APRISTA PERUANO">Partido Aprista Peruano</option>
          <option value="PARTIDO DEMOCRATICO SOMOS PERU">Somos Perú</option>
          <option value="PARTIDO MORADO">Partido Morado</option>
          <option value="PARTIDO NACIONALISTA PERUANO">Partido Nacionalista Peruano</option>
          <option value="PARTIDO POLITICO NACIONAL PERU LIBRE">Nacional Perú Libre</option>
          <option value="PARTIDO POPULAR CRISTIANO - PPC">Partido Popular Cristiano</option>
          <option value="PERU PATRIA SEGURA">Perú Patria Segura</option>
          <option value="PODEMOS PERU">Podemos Perú</option>
          <option value="RENACIMIENTO UNIDO NACIONAL">Renacimiento Unido Nacional</option>
          <option value="RENOVACION POPULAR">Renovación Popular</option>
          <option value="UNION POR EL PERU">Unión por el Perú</option>
          <option value="VICTORIA NACIONAL">Victoria Nacional</option>
        </select >
      </p>
    </div>
      <p class="uk-margin-large-left" uk-margin>
        <button class="uk-button uk-button-primary" type="submit" value="Submit" >Ver candidatos</button>
      </p>
    </form>

    <ul class=" padding js-filter uk-child-width-1-2@m uk-child-width-1-1@s  uk-child-width-1-3@l uk-text-center"  uk-grid uk-lightbox="animation: fade">
      {% for candidato in candidatos %}
        <li>
          <div class="uk-card uk-card-default uk-box-shadow-large">
            <a class="uk-inline" href={{ candidato.url }}>
              <img src={{ candidato.url }} alt="">
            </a>
              <div class="uk-card-body">
                <h4 class="uk-card-title">{{ candidato.organizacion_politica }}</h4>
                
            </div>

        </div>
        </li>
      {% endfor %}
    </ul>

  </div>
  {% for c in candidato %}
    <p>{{c.candidato}}</p>
    <p>{{c.dni_candidato}}</p>
  {% endfor %}
  <!-- /CONTENT -->
  <!-- LOADER -->
  <div id="preloader">
		<div id="loader"></div>
	</div>
  <!-- /LOADER -->
  <div id="go-top"><a class="smoothscroll" title="Back to Top" href="#top"><i class="fa fa-long-arrow-up"></i></a></div>
  <!--OFF CANVAS NAV-->
  <div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
      <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>

      <ul class="uk-nav uk-nav-default">
        <li style="font-size: 21px; font-weight:500; color:#ffffff" class="uk-nav-header">Opciones</li>
        <li>
          <a style="font-size: 20px; font-weight:500; color:#ffffff" href="{% url 'elecciones:mainpage' %}">
            <span class="uk-margin-small-right" data-uk-icon="icon: thumbnails"></span>
            Inicio
        </a>
      </li>
        
        <li style="font-size: 20px; font-weight:500; color:#ffffff" class="  nav_options">
          <span class="uk-margin-small-right" data-uk-icon="icon: thumbnails"></span>
          Búsqueda
        </li>
        <li>
          <a  class="uk-margin-left color" style="font-size: 18px;"  href="#" onclick="activar_candidatos(this.text)">Presidencial</a>
        </li>
        <li>
          <a class="uk-margin-left color" style="font-size: 18px;" href="#" onclick="activar_candidatos(this.text)">Congresales</a>
        </li>
        <li>
          <a class="uk-margin-left color" style="font-size: 18px;" href="#" onclick="activar_candidatos(this.text)">Parlamento Andino</a>
        </li>
        <li>
          <a class="uk-margin-left color" style="font-size: 18px;" href="#" onclick="activar_organizaciones(this.text)">Organización Política</a>
        </li>
      </ul>
    </div>
  </div>
  <!--OFF CANVAS NAV-->
  <!--FOOTER-->
  <footer class="uk-section uk-section-small uk-section-muted footer">
    <div class="uk-container">
      <p class="uk-text-small uk-text-center">Copyright © Perú Informado 2021</p>
    </div>
  </footer>
  <!--/FOOTER-->
  <!-- LOADER -->
  <div id="preloader">
		<div id="loader"></div>
	</div>
  <!-- /LOADER -->
{% endblock %} 
{% block js %} 
  <script src="{% static "js/variables.js"%}"></script>
  <script src="{% static "js/jquery-2.1.3.min.js"%}"></script>
  <script src="{% static "js/loader.js"%}"></script>
  <script src="{% static "js/filter_options.js"%}"></script>
{% endblock %}