{% extends "elecciones/base.html" %}
{% block title %}Opciones de Búsqueda{% endblock %}
{% load static %}
{% block content %}
{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.6.16/dist/css/uikit.min.css" />
{% endblock %}
<script>

</script>

</head>
<body data-uk-filter="target: .js-filter">
  <!-- OFFCANVAS -->

  <!-- OFFCANVAS -->
  <!--HEADER-->

  <!--/HEADER-->

  <!-- CONTENT -->
  <form>
    <p>DNI: <input type="text" name="dni"></p>
    <p>emocion: <input type="text" name="emocion"></p>
    <p>organizacion: <input type="text" name="organizacion"></p>
    <p><input type="submit" value="Submit"></p>
  </form>
  <div uk-filter="target: .js-filter">

    <ul class="uk-subnav uk-subnav-pill">
        <li uk-filter-control="[data-tags*='presidente']"><a href="#">Candidatos Presidenciales</a></li>
        <li uk-filter-control="[data-tags*='congresales']"><a href="#">Candidatos Congresales</a></li>
        <li uk-filter-control="[data-tags*='parlamento']"><a href="#">Candidatos Parlamento Andino</a></li>
        <li uk-filter-control="[data-tags*='all']"><a href="#">Todos</a></li>
    </ul>
    <ul class="js-filter uk-child-width-1-2 uk-child-width-1-3@m uk-text-center" uk-grid>
      {% for candidato in candidatos_presi %}
        <li data-tags="presidente all">
            <div class="uk-card uk-card-default uk-card-body">{{ candidato.dni_candidato }}</div>
        </li>
      {% endfor %}
      {% for candidato in candidatos_congres %}
        <li data-tags="congresales all">
            <div class="uk-card uk-card-primary uk-card-body">{{ candidato.dni_candidato }}</div>
        </li>
      {% endfor %}
      {% for candidato in candidatos_parla %}
        <li data-tags="parlamento all">
            <div class="uk-card uk-card-default uk-card-body">candidato parlamento</div>
        </li>
      {% endfor %}

    </ul>

</div>
  {% for c in candidato %}
    <p>{{c.candidato}}</p>
    <p>{{c.dni_candidato}}</p>
  {% endfor %}
  
  <!-- /CONTENT -->
</body>
  <div id="preloader">
		<div id="loader"></div>
  </div>
  <script src="{% static "js/variables.js"%}"></script>
  <script src="{% static "js/jquery-2.1.3.min.js"%}"></script>
  <script src="{% static "js/loader.js"%}"></script>
  <script src="{% static "js/AI.js"%}"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
  <script>
  </script>
{% endblock %}