<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>NOSOTROS</title>
		<link rel="icon" href="img/favicon.ico">
		<!-- CSS FILES -->
		<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/uikit@latest/dist/css/uikit.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/nosotros.css"
    <link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
		<style>
			.lead {
				font-size: 1.175em;
				font-weight: 300;
			}
			.uk-logo img {
				height: 28px;
			}
		</style>
	</head>
	<body>
    <div class="uk-light wrap uk-background-norepeat uk-background-cover uk-background-center-center uk-cover-container uk-background-secondary">
      <img data-srcset="/static/images/fondo-.jpg"

           data-src="/static/images/fondo-.jpg" alt="" data-uk-cover data-uk-img
      >
      <div class="uk-flex uk-flex-center uk-flex-middle uk-height-viewport uk-position-z-index uk-position-relative" data-uk-height-viewport="min-height: 400" style="background-color: rgba(0, 0, 0, 0.5);">

        <!-- NAV -->
        <div class="uk-position-top">
          <div class="uk-container uk-container-small">
            <nav class="uk-navbar-container uk-navbar-transparent" data-uk-navbar>
              <div class="uk-navbar-left">
                <div class="uk-navbar-item">
                  <a class="uk-logo" href=""><img src="/static/images/logos/ELEGIMOS_blanco.png" alt="Logo"></a>
                </div>
              </div>
              <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                  <li class="uk-visible@s"><a href="">Inicio</a></li>
                  <li class="uk-visible@s"><a href="{% url 'elecciones:analisisGraficos' %}">Análisis de datos</a></li>
                  <li class="uk-visible@s">
					  <a href="#" data-uk-icon="chevron-down">Búsqueda</a>
					  <div class="uk-navbar-dropdown">
						<ul class="uk-nav uk-navbar-dropdown-nav">
							<li>
								<a style="font-size: 16px;" href="#" onclick="activar_candidatos(this.text)">Presidencial</a>
							</li>
							<li>
								<a style="font-size: 16px;" href="#" onclick="activar_candidatos(this.text)">Congresales</a>
							</li>
							<li>
								<a style="font-size: 16px;" href="#" onclick="activar_candidatos(this.text)">Parlamento Andino</a>
							</li>
							<li>
								<a style="font-size: 16px;" href="#" onclick="activar_organizaciones(this.text)">Organización Política</a>
							</li>
						</ul>
					</div>
				</li>
                  <li><a class="uk-hidden@l	uk-hidden@m uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav"></a></li>
                </ul>
              </div>
            </nav>
          </div> 
        </div>
     
        <!-- /NAV -->
        <!-- TEXT -->
        <div class="uk-container uk-container-small uk-flex-auto uk-text-center" data-uk-scrollspy="target: > .animate; cls: uk-animation-slide-bottom-small uk-invisible; delay: 300">
          <h1 class="uk-heading-primary animate uk-invisible" style="font-weight: 700;">NOSOTROS</h1>
          <div class="uk-width-4-5@m uk-margin-auto animate uk-invisible">
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A ad, reiciendis maxime, facilis nam natus incidunt provident.</p>
          </div>

          <div class="uk-margin-medium-top animate uk-invisible" data-uk-margin data-uk-scrollspy-class="uk-animation-fade uk-invisible">
            <a href="#conocer" class="uk-button uk-button-primary uk-button-large uk-width-2-3 uk-text-uppercase uk-width-auto@s"data-uk-icon="arrow-right" data-uk-scroll="duration: 500" title="Conócenos">Conócenos</a>
          </div>
        </div> 
       </div>
    </div>
        <!-- /TEXT -->

    <!--SECTION-->

		<section id="conocer" class="uk-section uk-section-small">
			<div class="uk-container ">
				<div class="uk-child-width-1-2@m" uk-grid>
					<div class=" uk-text-center uk-text-right@m">
						<!--<h6>SIMPLIFY THINGS</h6>-->
						<h2 class="uk-margin-small-top ">Alexandra Shulca Romero</h2>
						<p class="subtitle-text uk-margin-small-bottom">
							En esta sección encontrará información que permite efectuar comparaciones generales entre las organizaciones políticas 
							y una visión panorámica de los candidatos participantes en las elecciones 2021.							
						</p>
						<!--<a href="#" class="uk-button uk-button-primary uk-border-pill" data-uk-icon="arrow-right">Ver más</a>-->
					</div>
					<div class="uk-flex-first uk-flex-last@m uk-width-1-2@s uk-margin-auto" data-uk-scrollspy="cls: uk-animation-fade">
						<img class= "uk-align-center uk-box-shadow-xlarge uk-border-circle foto" src="/static/images/ale.jpeg" data-uk-img alt="Image">
					</div>
				</div>
			</div>
		</section>

	<!--FIN SECTION-->
    <!--SECTION-->

		<section class="uk-section uk-section-small">
			<div class="uk-container grey-container">				
				<div class="uk-child-width-1-2@m " uk-grid>
				
				<div class="uk-flex-first uk-width-1-2@s uk-margin-auto" data-uk-scrollspy="cls: uk-animation-fade">
						<img class= "uk-align-center uk-box-shadow-xlarge uk-border-circle foto" src="/static/images/esteban-.jpeg" data-uk-img alt="Image">
				</div>	
				
					<div class="uk-text-center uk-text-left@m">
						<h2 class="uk-margin-small-top ">
						Esteban Principe Ventosilla
						</h2>
						<p class="subtitle-text uk-margin-medium-bottom">
							Realizamos un análisis mediante inteligencia artificial para identificar las emociones que transmiten cada cadidato, en base a las fotográfias presentadas al Jurado Nacional de Elecciones.				
						</p>
					</div>
					
				</div>
			</div>
		</section>

	<!--FIN SECTION-->

    <!--SECTION-->

	<section id="conocer" class="uk-section uk-section-small">
		<div class="uk-container ">
			<div class="uk-child-width-1-2@m" uk-grid>
				<div class=" uk-text-center uk-text-right@m">
					<!--<h6>SIMPLIFY THINGS</h6>-->
					<h2 class="uk-margin-small-top ">Grace Alvarado Salazar</h2>
					<p class="subtitle-text uk-margin-small-bottom">
						En esta sección encontrará información que permite efectuar comparaciones generales entre las organizaciones políticas 
						y una visión panorámica de los candidatos participantes en las elecciones 2021.							
					</p>
					<!--<a href="#" class="uk-button uk-button-primary uk-border-pill" data-uk-icon="arrow-right">Ver más</a>-->
				</div>
				<div class="uk-flex-first uk-flex-last@m uk-width-1-2@s uk-margin-auto" data-uk-scrollspy="cls: uk-animation-fade">
					<img class= "uk-align-center uk-box-shadow-xlarge uk-border-circle foto" src="/static/images/grace-.jpg" data-uk-img alt="Image">
				</div>
			</div>
		</div>
	</section>

<!--FIN SECTION-->
<!--SECTION-->

	<section class="uk-section uk-section-small">
		<div class="uk-container grey-container">				
			<div class="uk-child-width-1-2@m " uk-grid>
			
			<div class="uk-flex-first uk-width-1-2@s uk-margin-auto" data-uk-scrollspy="cls: uk-animation-fade">
					<img class= "uk-align-center uk-box-shadow-xlarge uk-border-circle foto" src="/static/images/roosevelt.jpg" data-uk-img alt="Image">
			</div>	
			
				<div class="uk-text-center uk-text-left@m">
					<h2 class="uk-margin-small-top">
					Roosevelt Ubaldo Chavez
					</h2>
					<p class="subtitle-text uk-margin-medium-bottom">
						Realizamos un análisis mediante inteligencia artificial para identificar las emociones que transmiten cada cadidato, en base a las fotográfias presentadas al Jurado Nacional de Elecciones.				
					</p>
				</div>
				
			</div>
		</div>
	</section>

<!--FIN SECTION-->

		<!--FOOTER-->
		<footer class="uk-section uk-section-small uk-section-muted no-padding">
			<div class="uk-container footer">
				<p class="uk-text-small uk-text-center">Copyright © Perú Informado 2021</p>
			</div>
		</footer>
		<!--/FOOTER-->
    
		<!-- OFFCANVAS -->
		<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: false">
			<div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
				<button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
				<ul class="uk-nav uk-nav-default">
					<li class="uk-active"><a href="#">Active</a></li>
					<li class="uk-parent">
						<a href="#">Parent</a>
						<ul class="uk-nav-sub">
							<li><a href="#">Sub item</a></li>
							<li><a href="#">Sub item</a></li>
						</ul>
					</li>
					<li class="uk-nav-header">Header</li>
					<li><a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span> Item</a></li>
					<li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span> Item</a></li>
					<li class="uk-nav-divider"></li>
					<li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span> Item</a></li>
				</ul>
				<h3>Title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</div>
		</div>
		<!-- /OFFCANVAS -->
		
		<!-- JS FILES -->
		<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
		<script src="/static/js/filter_options.js"></script>
		<script src="/static/js/variables.js"></script>
		<script src="/static/js/jquery-2.1.3.min.js"></script>
		<script src="/static/js/loader.js"></script>
		<script src="/static/js/filter_options.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
	</body>
</html>
